/node_modules
/vendor
/.env
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/app/*
!/storage/app/public
/bootstrap/cache/*.php
.git
.gitignore
.dockerignore
Dockerfile
docker-entrypoint.sh
render.yaml
.editorconfig
.phpunit.result.cache
*.md
*.log
