parameters:
    level: 6
    paths:
        - app
    excludePaths:
        - app/Providers
        - app/Console
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#PHPDoc tag @var with type class-string.* is not applicable#'

